body {
    font-family: "Roboto", sans-serif;
    color: #434455;


}
a{text-decoration: none;}


ul {
    list-style: none;
}

/* header-logo */

.logo {
    
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: "Raleway",
            sans-serif;

}



.logo .web {
    color: #4d5ae5;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
}


.text-logo {
  
    color: #2e2f42;
    font-family: "Raleway", sans-serif;

}

/* nav-menu */


.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    

}


.nav-link:hover {
    color: #404bbf;
    transition: color 0.3s ease;
}

.nav-link:focus {
    color: #404bbf;
    outline: none;
    transition: color 0.3s ease;
}




/* contact-info */


.mail-tel {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    
}







.mail-tel:hover {
    color: #404bbf;
    transition: color 0.3s ease;
    outline: none;
}

.mail-tel:focus {
    color: #404bbf;
    transition: color 0.3s ease;
    outline: none;
}



/* text-hero */

.title-hero {
    color: #ffffff;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
}


/*  section-type-button */

.blok-button {

    background: #2e2f42;

}



button:hover {
    background: #404bbf;
    outline: none;
}

button:focus {

    outline: none;

    background: #404bbf;


}




button {

    cursor: pointer;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;

}



/* -- section-our-features -- */





.list-of-features .head-list {

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.list-of-features .text-list {

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Our-Team */

/* < !-- section-foto-team --> */


.team-head {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
}


.foto {

    background-color: #f4f4fd;
}


.images {
    background-color: #fff;
}



/* name-team */

.name {

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}


.images .text {

    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;

}



/* section-portfolio */


.head-section {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}




/* head-h3 */

.service-head {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

/* text-p */

.service-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* footer-section */


.footer-box {
    background-color: #2e2f42;
    color: #ffffff;

}
.text-logo-footer{color: #f4f4fd;}