body {
    font-family: "Roboto", sans-serif;
    color: #434455;


}

/* header-logo */

.logo {
    font-family: "Raleway",
        sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;

}



.logo .web {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    gap: 0px;
    text-transform: uppercase;
    line-height: 1.16667;
}


.text-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    color: #2e2f42;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
}

/* nav-menu */

.nav-list {
    list-style: none;

}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;

}


.nav-link:hover {
    color: #404bbf;
    transition: color 0.3s ease;
}

.nav-link:focus {
    color: #404bbf;
    outline: none;
    transition: color 0.3s ease;
}


/* contact-info */


.mail-tel {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;

}

.contact-list {
    list-style: none;

}

.mail-tel:hover {
    color: #404bbf;
    transition: color 0.3s ease;
    outline: none;
}

.mail-tel:focus {
    color: #404bbf;
    transition: color 0.3s ease;
    outline: none;
}



/* text-hero */

.title-hero {
    color: #ffffff;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
}


/*  section-type-button */

.blok-button {

    background: #2e2f42;

}



button:hover {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4853ce;
    outline: none;
}

button:focus {
    outline: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #404bbf;


}

button {
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    border-radius: 4px;
}



/* -- section-our-features -- */

.features {
    list-style: none;
}



.list-of-features .head-list {

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.list-of-features .text-list {

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Our-Team */

/* < !-- section-foto-team --> */


.team-head {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
}


.foto {
    background-color: #f4f4fd;

}


.team-images {
    list-style: none;

}


.images {
    background-color: #fff;
}



/* name-team */

.name {
    display: flex;
    text-align: center;
    justify-content: center;
    color: #2e2f42;
}


.images .text {
    display: flex;
    text-align: center;
    justify-content: center;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}



/* section-portfolio */


.head-section {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
}

.portfolio .portfolio-list {
    list-style: none;
}


/* head-h3 */

.service-head {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

/* text-p */

.service-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

/* footer-section */


.footer-box {
    background-color: #2e2f42;
    color: #ffffff;
    padding: 20px;
    gap: 20px;
}

.logo {
    text-decoration: none;
}

.text-logo-footer {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;

}