body {
    font-family: "Roboto", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
    

}

/* header-logo */

.logo {
    font-family: "Raleway",
        sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--cloud);

}


.logo .web {
    color: #4d5ae5;
}



.logo {
    color: #ffffff;
    text-decoration: none;
}



.logo-logo-dark {
    color: #000000;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}


.logo-logo-dark .web {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    gap: 0px;
}

/*  type-button */

.blok-button {

    background: #2e2f42;
    color: #ffffff;

    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
}


button:hover {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4853ce;
}


button {
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}

/* nav-menu */

nav ul li {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

nav ul li a:hover {
    color: #4d5ae5;
}

address ul li a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

address ul li a:hover {
    color: #4d5ae5;
}

/* list-of-features */

.list-of-features h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.list-of-features h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.list-of-features p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Our-Team */


.images-text {
    background-color: #f4f4fd;
}




ul {
    list-style: none;

}



a {
    text-decoration: none;
    color: inherit;

}



.images-text h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
}



.images-text p {
    display: flex;
    text-align: center;
    justify-content: center;
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}



.images-text ul h3 {
    display: flex;
    text-align: center;
    justify-content: center;
    color: #2e2f42;
}


.portfolio-list h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-list h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}


.portfolio-list p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* footer-section */


.footer-box {
    background-color: #2e2f42;
    color: #ffffff;
    padding: 20px;
    gap: 20px;
}